body {
    /* background-color: rgb(54, 54, 54); */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.home 
.movieID {
    color: aliceblue;
}

.movieID:hover {
    color: #92ff67;
}

img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-bottom-left-radius: 100%; */
    border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 90px;
    transition: border-radius 1s;
}

img:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: border-radius .90s;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#pages {
    margin-top: 2rem;
}

#results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.book {
    /* background-color: rgb(182, 183, 255); */
    background-color: rgb(226, 226, 226);

    border: solid rgb(205, 255, 105);
    /* border-width: medium; */
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    width: 20%;
    margin: 2%;
    /* padding: 1%; */
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
}

.book:hover {
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    /* box-shadow: 0 0 5px 10px #555; */
    border: solid rgb(183, 255, 0);
    transition: border-width 1s;
    border-width: thick;
}

.page {
    border: thin solid rgb(0, 225, 255);
    border-radius: 15px;
    padding: 10px;
}

.page:hover {
    border: thin solid rgb(0, 128, 255);
    border-radius: 15px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.radio-btns {
    display: flex;
    gap: 1rem;
}




.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

#searchTerm {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

#button1 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.div1 {
    grid-area: 1 / 1 / 5 / 2;
}

.div2 {
    grid-area: 1 / 2 / 5 / 6;
}

.div3 {
    grid-area: 1 / 2 / 2 / 6;
}

/* .div4 { grid-area: 2 / 2 / 3 / 6; } */

.parent1 {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div11 {
    grid-area: 1 / 1 / 4 / 2;
}

.div22 {
    grid-area: 1 / 2 / 2 / 5;
}

.div33 {
    grid-area: 2 / 2 / 3 / 5;
    /* height: 100%; */
    width: 80%;
    height: 225px;
    margin-left: 1.5rem;
    margin-top: 6.5rem;
    /* box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.90); */
    /* box-shadow: -12px -9px 5px 0px rgba(0, 0, 0, 0.75); */
    display: flex;
    /* display: block; */
}